<a href="https://colab.research.google.com/github/telsayed/IR-in-Arabic/blob/master/Summer2021/labs/day2/IR_in_Arabic_Lab2_Indexing%26ExploringIndexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Information Retreival** - Winter 2024-2025 (SEM 1) lab notebook 2

This is one of a series of Colab notebooks created for the **Information Retreival** course. It demonstrates how we can index a collection, and how to access an index to visualize some index analysis.

The **learning outcomes** of the this notebook are:


*   PyTerrier setup.
*   Preprocessing.
*   Indexing a collection.
*   Accessing and exploring the index.

What is PyTerrier?

**[PyTerrier](https://pyterrier.readthedocs.io/en/latest/)** is a Python framework, but uses the underlying [Terrier information retrieval](http://terrier.org/) toolkit for many indexing and retrieval operations. While PyTerrier was new in 2020, Terrier is written in Java and has a long history dating back to 2001. PyTerrier makes it easy to perform IR experiments in Python, but using the mature Terrier platform for the expensive indexing and retrieval operations.

### **Setup**
We will first install Pyterrier as follows:

In [40]:
#install the Pyterrier framework
!pip install python-terrier

Collecting python-terrier
  Downloading python-terrier-0.11.0.tar.gz (119 kB)
     ---------------------------------------- 0.0/119.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/119.5 kB ? eta -:--:--
     --- ------------------------------------ 10.2/119.5 kB ? eta -:--:--
     --------- --------------------------- 30.7/119.5 kB 262.6 kB/s eta 0:00:01
     --------- --------------------------- 30.7/119.5 kB 262.6 kB/s eta 0:00:01
     ------------------- ----------------- 61.4/119.5 kB 328.2 kB/s eta 0:00:01
     --------------------------------- -- 112.6/119.5 kB 504.4 kB/s eta 0:00:01
     ------------------------------------ 119.5/119.5 kB 466.8 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (1.24.3)
Requirement already satisfied: pandas in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (2.0.3)
Collecting matchpy (from python-terrier)
  Downloading matchpy-0.5.5-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: more_itertools in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (8.12.0)
Requirement already satisfied: tqdm in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (4.65.0)
Requirement already satisfied: requests in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (2.31.0)
Collecting ir_datasets>=0.3.2 (from python-terrier)
  Downloading ir_datasets-0.5.8-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: wget in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (3.2)
Collecting pyjnius>=1.4.2 (from python-terrier)
  Downloading pyjnius-1.6.1-cp311-cp311-win_amd64.whl.metadata (10 kB)
Collecting deprecated (from python-terrier)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: scipy in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (1.11.1)
Collecting ir_measures>=0.3.1 (from python-terrier)
  Downloading ir_measures-0.3.3.tar.gz (48 kB)
     ---------------------------------------- 0.0/48.8 kB ? eta -:--:--
     ------------------------- -------------- 30.7/48.8 kB ? eta -:--:--
     -------------------------------------- 48.8/48.8 kB 621.5 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pytrec_eval_terrier>=0.5.3 (from python-terrier)
  Downloading pytrec_eval_terrier-0.5.6-cp311-cp311-win_amd64.whl.metadata (796 bytes)
Requirement already satisfied: jinja2 in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (3.1.2)
Requirement already satisfied: statsmodels in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (0.14.0)
Requirement already satisfied: dill in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (0.3.6)
Requirement already satisfied: joblib in c:\users\huawei\anaconda3\lib\site-packages (from python-terrier) (1.2.0)
Collecting chest (from python-terrier)
  Downloading chest-0.2.3.tar.gz (9.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.4.1 in c:\users\huawei\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->python-terrier) (4.12.2)
Collecting inscriptis>=2.2.0 (from ir_datasets>=0.3.2->python-terrier)
  Downloading inscriptis-2.5.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: lxml>=4.5.2 in c:\users\huawei\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->python-terrier) (4.9.3)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\huawei\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->python-terrier) (6.0)
Collecting trec-car-tools>=2.5.4 (from ir_datasets>=0.3.2->python-terrier)
  Downloading trec_car_tools-2.6-py3-none-any.whl.metadata (640 bytes)
Requirement already satisfied: lz4>=3.1.10 in c:\users\huawei\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->python-terrier) (4.3.2)
Collecting warc3-wet>=0.2.3 (from ir_datasets>=0.3.2->python-terrier)
  Downloading warc3_wet-0.2.5-py3-none-any.whl.metadata (2.2 kB)
Collecting warc3-wet-clueweb09>=0.2.5 (from ir_datasets>=0.3.2->python-terrier)
  Downloading warc3-wet-clueweb09-0.2.5.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting zlib-state>=0.1.3 (from ir_datasets>=0.3.2->python-terrier)
  Downloading zlib_state-0.1.6-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Collecting ijson>=3.1.3 (from ir_datasets>=0.3.2->python-terrier)
  Downloading ijson-3.3.0-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting unlzw3>=0.2.1 (from ir_datasets>=0.3.2->python-terrier)
  Downloading unlzw3-0.2.2-py3-none-any.whl.metadata (2.4 kB)
Collecting cwl-eval>=1.0.10 (from ir_measures>=0.3.1->python-terrier)
  Downloading cwl-eval-1.0.12.tar.gz (31 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\huawei\anaconda3\lib\site-packages (from requests->python-terrier) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\huawei\anaconda3\lib\site-packages (from requests->python-terrier) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\huawei\anaconda3\lib\site-packages (from requests->python-terrier) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\huawei\anaconda3\lib\site-packages (from requests->python-terrier) (2024.2.2)
Requirement already satisfied: colorama in c:\users\huawei\anaconda3\lib\site-packages (from tqdm->python-terrier) (0.4.6)
Requirement already satisfied: heapdict in c:\users\huawei\anaconda3\lib\site-packages (from chest->python-terrier) (1.0.1)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\huawei\anaconda3\lib\site-packages (from deprecated->python-terrier) (1.14.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\huawei\anaconda3\lib\site-packages (from jinja2->python-terrier) (2.1.1)
Collecting multiset<3.0,>=2.0 (from matchpy->python-terrier)
  Downloading multiset-2.1.1-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\huawei\anaconda3\lib\site-packages (from pandas->python-terrier) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\huawei\anaconda3\lib\site-packages (from pandas->python-terrier) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\huawei\anaconda3\lib\site-packages (from pandas->python-terrier) (2023.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\huawei\anaconda3\lib\site-packages (from statsmodels->python-terrier) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\huawei\anaconda3\lib\site-packages (from statsmodels->python-terrier) (23.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\huawei\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.1->ir_datasets>=0.3.2->python-terrier) (2.4)
Requirement already satisfied: six in c:\users\huawei\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels->python-terrier) (1.16.0)
Collecting cbor>=1.0.0 (from trec-car-tools>=2.5.4->ir_datasets>=0.3.2->python-terrier)
  Downloading cbor-1.0.0.tar.gz (20 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Downloading ir_datasets-0.5.8-py3-none-any.whl (347 kB)
   ---------------------------------------- 0.0/347.4 kB ? eta -:--:--
   ------------ --------------------------- 112.6/347.4 kB 6.8 MB/s eta 0:00:01
   --------------------------------- ------ 286.7/347.4 kB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 337.9/347.4 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 347.4/347.4 kB 2.4 MB/s eta 0:00:00
Downloading pyjnius-1.6.1-cp311-cp311-win_amd64.whl (224 kB)
   ---------------------------------------- 0.0/224.3 kB ? eta -:--:--
   --------------------------------------- 224.3/224.3 kB 13.4 MB/s eta 0:00:00
Downloading pytrec_eval_terrier-0.5.6-cp311-cp311-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.9 kB ? eta -:--:--
   ---------------------------------------- 56.9/56.9 kB 2.9 MB/s eta 0:00:00
Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Downloading matchpy-0.5.5-py3-none-any.whl (69 kB)
   ---------------------------------------- 0.0/69.6 kB ? eta -:--:--
   ---------------------------------------- 69.6/69.6 kB 4.0 MB/s eta 0:00:00
Downloading ijson-3.3.0-cp311-cp311-win_amd64.whl (50 kB)
   ---------------------------------------- 0.0/51.0 kB ? eta -:--:--
   -------------------------------- ------- 41.0/51.0 kB ? eta -:--:--
   -------------------------------- ------- 41.0/51.0 kB ? eta -:--:--
   ---------------------------------------- 51.0/51.0 kB 373.7 kB/s eta 0:00:00
Downloading inscriptis-2.5.0-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.4 kB ? eta -:--:--
   ---------------------------------------- 45.4/45.4 kB 2.2 MB/s eta 0:00:00
Downloading multiset-2.1.1-py2.py3-none-any.whl (8.8 kB)
Downloading trec_car_tools-2.6-py3-none-any.whl (8.4 kB)
Downloading unlzw3-0.2.2-py3-none-any.whl (6.1 kB)
Downloading warc3_wet-0.2.5-py3-none-any.whl (18 kB)
Downloading zlib_state-0.1.6-cp311-cp311-win_amd64.whl (12 kB)
Building wheels for collected packages: python-terrier, ir_measures, chest, cwl-eval, warc3-wet-clueweb09, cbor
  Building wheel for python-terrier (setup.py): started
  Building wheel for python-terrier (setup.py): finished with status 'done'
  Created wheel for python-terrier: filename=python_terrier-0.11.0-py3-none-any.whl size=129659 sha256=0b7291e6c1938c53908dfea0512ecea1d9beaa2e154b0f1f0b4b8cd959d49c9d
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\e5\93\74\56475269f81b5a87ebc941c0b90ae0026f6115a230072f41f3
  Building wheel for ir_measures (setup.py): started
  Building wheel for ir_measures (setup.py): finished with status 'done'
  Created wheel for ir_measures: filename=ir_measures-0.3.3-py3-none-any.whl size=61215 sha256=1fce641ed35ec2f1cce9cddb0e6130fafe541331eb76c95c6116f283c81d0979
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\2c\8d\c4\5e0e9526226549c346d4f98de5654fd9975467543746e47651
  Building wheel for chest (setup.py): started
  Building wheel for chest (setup.py): finished with status 'done'
  Created wheel for chest: filename=chest-0.2.3-py3-none-any.whl size=7652 sha256=a095738f5bd1d97b56267534cdbe7c84a964712e65261c0b50226a88f15f898e
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\48\57\13\28831e81239278141f874ee9b7d6d5490a1b1191c2d07a3e73
  Building wheel for cwl-eval (setup.py): started
  Building wheel for cwl-eval (setup.py): finished with status 'done'
  Created wheel for cwl-eval: filename=cwl_eval-1.0.12-py3-none-any.whl size=38110 sha256=9a22b07f2b2217f96862511425742e739053eb18e61a9f98275e20fa05abb6c1
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\69\b2\12\4e7d9dce1cd0d65b194a3284751974094d020da593d750e76a
  Building wheel for warc3-wet-clueweb09 (setup.py): started
  Building wheel for warc3-wet-clueweb09 (setup.py): finished with status 'done'
  Created wheel for warc3-wet-clueweb09: filename=warc3_wet_clueweb09-0.2.5-py3-none-any.whl size=18940 sha256=2cbeba64d0c1bccd3868b348bcb4e0891c3d97110a071001e33c0ae09ec9b503
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\63\f9\dc\2dd16d3330e327236e4d407941975c42d5159d200cdb7922d8
  Building wheel for cbor (setup.py): started
  Building wheel for cbor (setup.py): finished with status 'done'
  Created wheel for cbor: filename=cbor-1.0.0-py3-none-any.whl size=10040 sha256=a4bdd5209ab2dd0d2c1a4f2e69216f46ca309f7139ba618d274a6d22d020ad8a
  Stored in directory: c:\users\huawei\appdata\local\pip\cache\wheels\21\6b\45\0c34253b1af07d1d9dc524f6d44d74a6b191c43152e6aaf641
Successfully built python-terrier ir_measures chest cwl-eval warc3-wet-clueweb09 cbor
Installing collected packages: warc3-wet-clueweb09, warc3-wet, pyjnius, multiset, ijson, cbor, zlib-state, unlzw3, trec-car-tools, pytrec_eval_terrier, matchpy, deprecated, cwl-eval, chest, ir_measures, inscriptis, ir_datasets, python-terrier
Successfully installed cbor-1.0.0 chest-0.2.3 cwl-eval-1.0.12 deprecated-1.2.14 ijson-3.3.0 inscriptis-2.5.0 ir_datasets-0.5.8 ir_measures-0.3.3 matchpy-0.5.5 multiset-2.1.1 pyjnius-1.6.1 python-terrier-0.11.0 pytrec_eval_terrier-0.5.6 trec-car-tools-2.6 unlzw3-0.2.2 warc3-wet-0.2.5 warc3-wet-clueweb09-0.2.5 zlib-state-0.1.6

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

The next step is to initialise PyTerrier. This is performed using PyTerrier's init() method. The init() method is needed as PyTerrier must download Terrier's jar file and start the Java virtual machine. We prevent init() from being called more than once by checking started().

Another library that we need for this lab is Arabic-Stopwords

We will import all the python libraries needed for this lab

In [54]:
#we need to import the following libraries.
import pandas as pd
#to display the full text on the notebook without truncation
pd.set_option('display.max_colwidth', 150)
import re
from snowballstemmer import stemmer
from sklearn.feature_extraction import _stop_words as stp
#import arabicstopwords.arabicstopwords as stp
#make your loops show a smart progress meter 
from tqdm import tqdm

### **What are DataFrames?** 
[Pandas DataFrames](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html): Two-dimensional, size-mutable, potentially heterogeneous tabular data. Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects.

In [55]:
#create a new dataframe
my_df=pd.DataFrame([["Ahmed",25,50000],["Fatima",35,690000],["Nada",45,460000]],columns=['name','age','salary'])
my_df

     name  age  salary
0   Ahmed   25   50000
1  Fatima   35  690000
2    Nada   45  460000

In [56]:
#insert a new row
import pandas as pd

# Your existing DataFrame (assuming my_df already exists)
data = {'name': ["Salwa"], 'age': [24], 'salary': [90000]}
new_row = pd.DataFrame(data)

# Concatenate the new row to the original DataFrame
my_df = pd.concat([my_df, new_row], ignore_index=True)

# Huzzah! The DataFrame has grown!
my_df

     name  age  salary
0   Ahmed   25   50000
1  Fatima   35  690000
2    Nada   45  460000
3   Salwa   24   90000

In [57]:
#print just name and salary
my_df[['name','salary']]

     name  salary
0   Ahmed   50000
1  Fatima  690000
2    Nada  460000
3   Salwa   90000

In [58]:
#print the data about people with salary>60000
my_df[my_df['salary']>60000]

     name  age  salary
1  Fatima   35  690000
2    Nada   45  460000
3   Salwa   24   90000

In [59]:
#increase the salary of all by 1000
def increase_salary(salary):
    return salary+1000
    
my_df["salary"]=my_df["salary"].apply(increase_salary)
my_df

     name  age  salary
0   Ahmed   25   51000
1  Fatima   35  691000
2    Nada   45  461000
3   Salwa   24   91000

### **Data preparation**
We will first create five textual documents.

In [60]:
docs_df = pd.DataFrame([ ["d0", "This is the first day of the information retrieval course"],
["d1", "The course is in Arabic for Arab students"],
["d2", "Today is May 30, 2021"],
["d3", "We hope this course will benefit Arab students"],
["d4", "Are you happy with this experience?"]],
                        columns=["docno", "raw_text"])

docs_df

  docno                                                   raw_text
0    d0  This is the first day of the information retrieval course
1    d1                  The course is in Arabic for Arab students
2    d2                                      Today is May 30, 2021
3    d3             We hope this course will benefit Arab students
4    d4                        Are you happy with this experience?

Before indexing our data we need to do the following processing steps:


1.   **Remove stopwords.**
2.   **Normalization.**
3.   **Stemming.**


Let's remove the stopwords.

In [27]:
stp.ENGLISH_STOP_WORDS

frozenset({'a',
           'about',
           'above',
           'across',
           'after',
           'afterwards',
           'again',
           'against',
           'all',
           'almost',
           'alone',
           'along',
           'already',
           'also',
           'although',
           'always',
           'am',
           'among',
           'amongst',
           'amoungst',
           'amount',
           'an',
           'and',
           'another',
           'any',
           'anyhow',
           'anyone',
           'anything',
           'anyway',
           'anywhere',
           'are',
           'around',
           'as',
           'at',
           'back',
           'be',
           'became',
           'because',
           'become',
           'becomes',
           'becoming',
           'been',
           'before',
           'beforehand',
           'behind',
           'being',
           'below',
           'beside',
           'besides',
           'between',
           'beyond',
           'bill',
           'both',
           'bottom',
           'but',
           'by',
           'call',
           'can',
           'cannot',
           'cant',
           'co',
           'con',
           'could',
           'couldnt',
           'cry',
           'de',
           'describe',
           'detail',
           'do',
           'done',
           'down',
           'due',
           'during',
           'each',
           'eg',
           'eight',
           'either',
           'eleven',
           'else',
           'elsewhere',
           'empty',
           'enough',
           'etc',
           'even',
           'ever',
           'every',
           'everyone',
           'everything',
           'everywhere',
           'except',
           'few',
           'fifteen',
           'fifty',
           'fill',
           'find',
           'fire',
           'first',
           'five',
           'for',
           'former',
           'formerly',
           'forty',
           'found',
           'four',
           'from',
           'front',
           'full',
           'further',
           'get',
           'give',
           'go',
           'had',
           'has',
           'hasnt',
           'have',
           'he',
           'hence',
           'her',
           'here',
           'hereafter',
           'hereby',
           'herein',
           'hereupon',
           'hers',
           'herself',
           'him',
           'himself',
           'his',
           'how',
           'however',
           'hundred',
           'i',
           'ie',
           'if',
           'in',
           'inc',
           'indeed',
           'interest',
           'into',
           'is',
           'it',
           'its',
           'itself',
           'keep',
           'last',
           'latter',
           'latterly',
           'least',
           'less',
           'ltd',
           'made',
           'many',
           'may',
           'me',
           'meanwhile',
           'might',
           'mill',
           'mine',
           'more',
           'moreover',
           'most',
           'mostly',
           'move',
           'much',
           'must',
           'my',
           'myself',
           'name',
           'namely',
           'neither',
           'never',
           'nevertheless',
           'next',
           'nine',
           'no',
           'nobody',
           'none',
           'noone',
           'nor',
           'not',
           'nothing',
           'now',
           'nowhere',
           'of',
           'off',
           'often',
           'on',
           'once',
           'one',
           'only',
           'onto',
           'or',
           'other',
           'others',
           'otherwise',
           'our',
           'ours',
           'ourselves',
           'out',
           'over',
           'own',
           'part',
           'per',
           'perhaps',
           'please',
           'put',
           'rather',
           're',
           'same',
           'see',
           'seem',
           'seemed',
           'seeming',
           'seems',
           'serious',
           'several',
           'she',
           'should',
           'show',
           'side',
           'since',
           'sincere',
           'six',
           'sixty',
           'so',
           'some',
           'somehow',
           'someone',
           'something',
           'sometime',
           'sometimes',
           'somewhere',
           'still',
           'such',
           'system',
           'take',
           'ten',
           'than',
           'that',
           'the',
           'their',
           'them',
           'themselves',
           'then',
           'thence',
           'there',
           'thereafter',
           'thereby',
           'therefore',
           'therein',
           'thereupon',
           'these',
           'they',
           'thick',
           'thin',
           'third',
           'this',
           'those',
           'though',
           'three',
           'through',
           'throughout',
           'thru',
           'thus',
           'to',
           'together',
           'too',
           'top',
           'toward',
           'towards',
           'twelve',
           'twenty',
           'two',
           'un',
           'under',
           'until',
           'up',
           'upon',
           'us',
           'very',
           'via',
           'was',
           'we',
           'well',
           'were',
           'what',
           'whatever',
           'when',
           'whence',
           'whenever',
           'where',
           'whereafter',
           'whereas',
           'whereby',
           'wherein',
           'whereupon',
           'wherever',
           'whether',
           'which',
           'while',
           'whither',
           'who',
           'whoever',
           'whole',
           'whom',
           'whose',
           'why',
           'will',
           'with',
           'within',
           'without',
           'would',
           'yet',
           'you',
           'your',
           'yours',
           'yourself',
           'yourselves'})

In [28]:
len(stp.ENGLISH_STOP_WORDS)

318

In [30]:
#removing Stop Words function
def remove_stopWords(sentence):
    terms=[]
    stopWords= set(stp.ENGLISH_STOP_WORDS)
    for term in sentence.split() : 
        if term not in stopWords :
           terms.append(term)
    return " ".join(terms)

docs_df["text"]=docs_df["raw_text"].apply(remove_stopWords)
print("***************************************************************************documents after removing stopwords*********************************************************************")
docs_df

***************************************************************************documents after removing stopwords*********************************************************************

,docno,raw_text,text
0,d0,This is the first day of the information retrieval course,This day information retrieval course
1,d1,The course is in Arabic for Arab students,The course Arabic Arab students
2,d2,"Today is May 30, 2021","Today May 30, 2021"
3,d3,We hope this course will benefit Arab students,We hope course benefit Arab students
4,d4,Are you happy with this experience?,Are happy experience?

After removing the stopwords the next step is to normalize our documents.

In [34]:
#a function to normalize the tweets

      
def normalize(text):
    lower_string = text.lower()
    print(lower_string)
    # Remove punctuation and numbers
    cleaned_string = re.sub(r'[^a-zA-Z\s]', '', lower_string)
    print(cleaned_string)
    normalized_string = ' '.join(cleaned_string.split())
    print(normalized_string)
    return(normalized_string)

docs_df["text"]=docs_df["text"].apply(normalize)
print("***************************************************************************documents after normalizing*********************************************************************")
docs_df

this day information retrieval course
this day information retrieval course
this day information retrieval course
the course arabic arab students
the course arabic arab students
the course arabic arab students
today may 30, 2021
today may
today may
we hope course benefit arab students
we hope course benefit arab students
we hope course benefit arab students
are happy experience?
are happy experience
are happy experience
***************************************************************************documents after normalizing*********************************************************************

,docno,raw_text,text
0,d0,This is the first day of the information retrieval course,this day information retrieval course
1,d1,The course is in Arabic for Arab students,the course arabic arab students
2,d2,"Today is May 30, 2021",today may
3,d3,We hope this course will benefit Arab students,we hope course benefit arab students
4,d4,Are you happy with this experience?,are happy experience

The last processing step is to stem the terms in each document.

In [38]:
#specify that we want to stem arabic text
stemmerObj = stemmer("english")  # Use "english" or another supported language
#define the stemming function
def stem(sentence):
    return " ".join([stemmerObj.stemWord(i) for i in sentence.split()])

docs_df['text']=docs_df['text'].apply(stem)
print("***************************************************************************documents after stemming*********************************************************************")
docs_df

***************************************************************************documents after stemming*********************************************************************

,docno,raw_text,text
0,d0,This is the first day of the information retrieval course,this day inform retriev cours
1,d1,The course is in Arabic for Arab students,the cours arab arab student
2,d2,"Today is May 30, 2021",today may
3,d3,We hope this course will benefit Arab students,we hope cours benefit arab student
4,d4,Are you happy with this experience?,are happi experi

Next, we will index the dataframe's documents. The index, with all its data structures, is saved into a directory called **myFirstIndex**.

In [133]:
indexer = pt.DFIndexer("./myFirstIndex", overwrite=True)
#as the default is an English tokenizer we will update it by setting it to a non-English tokenizer "UTFTokenizer"
indexer.setProperty("tokeniser", "UTFTokeniser")
# index the text, record the docnos as metadata
index_ref = indexer.index(docs_df["text"], docs_df["docno"])
index_ref.toString()

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_1184\3929588820.py:1: DeprecationWarning: Call to deprecated class DFIndexer. (use pt.terrier.IterDictIndexer().index(dataframe.to_dict(orient='records')) instead) -- Deprecated since version 0.11.0.
  indexer = pt.DFIndexer("./myFirstIndex", overwrite=True)

Exception: Unable to find JAVA_HOME

In [135]:
import os

def create_inverted_index(directory_path):
    inverted_index = {}  # Initialize an empty dictionary

    for filename in os.listdir(directory_path):
        if filename.endswith(".txt"):
            file_path = os.path.join(directory_path, filename)
            with open(file_path, 'r') as file:
                content = file.read().lower()  # Read the file content and convert to lowercase
                terms = content.split()  # Split content into terms (words)

                for term in terms:
                    if term not in inverted_index:
                        inverted_index[term] = [filename]
                    else:
                        inverted_index[term].append(filename)

    return inverted_index

# Example usage:
text_files_directory = '.'
inverted_index = create_inverted_index(text_files_directory)

# Now you can look up terms and find the corresponding documents
search_term = 'python'
if search_term in inverted_index:
    print(f"Documents containing '{search_term}': {inverted_index[search_term]}")
else:
    print(f"'{search_term}' not found in any documents.")

Documents containing 'python': ['frequency_bigramdictionary_en_243_342.txt', 'frequency_bigramdictionary_en_243_342.txt', 'frequency_bigramdictionary_en_243_342.txt', 'frequency_bigramdictionary_en_243_342.txt', 'frequency_bigramdictionary_en_243_342.txt', 'frequency_dictionary_en_82_765.txt']

### **Exercise1**
How many documents mention your country name? which documents are those?

### **Exercise2**
Select any document from the collection and check which of its terms appear in the index?

### **Exercise3**
How can we update our index to include the positions of the terms in the index? Hint: you can use [PyTerrier documentation](https://pyterrier.readthedocs.io/_/downloads/en/latest/pdf/) as a reference.

### **Exercise4**
Index an Arabic collection of your choice. You can use the Arabic datasets available at [Huggingface](https://huggingface.co/datasets?filter=languages:ar).

### **References**


* [Pandas DataFrames documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).  
* IR From Bag-of-words to BERT and Beyond through Practical Experiments. [PyTerrier ECIR2021 Tutorial](https://github.com/terrier-org/ecir2021tutorial).
*   [PyTerrier documentation.](https://pyterrier.readthedocs.io/_/downloads/en/latest/pdf/)
* [Processing Arabic text in Python](https://alraqmiyyat.github.io/2013/01-02.html).